<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	
			<%= link_to_function "| Strona główna", "useCase.showHomePage()", id: "logo" %>
			<%= link_to_function "| Kategorie", "useCase.showAllCategories()", id: "logo" %>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">			
			<%= render 'layouts/search-small-menu' %>
			<%= render 'layouts/cart-small' %>
		</div>
		<div class="span10">
			<div id="home-page"></div>
			<div id="categories"></div>
			<div id="category"></div>
			<div id="product"></div>
			<div id="cart-full"></div>
			<div id="confirm-order"></div>
		</div>
	</div>
</div>	
<%= render 'layouts/footer' %>	

<script type="x-handlebars-template" id="home-page-template">
	<h1> Welcome! </h1>	
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="categories-template">
	<h1> Lista wszystkich kategorii </h1>
	<ul class="categories_list">
	{{#each categories}}
		<li>
			<a href="#" onclick={{ this.function_name }}>
				{{ this.name }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="category-template">
	<h1> {{ category }} </h1>
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="product-template">
	<h1> {{ title }} </h1>
	<div> 
		Author: {{ author }} <br>
		Price: {{ price }} <br>
		Description: {{ description }}
	</div>
	<a href="#" onclick={{ function_name }}>
		Go to {{ category }}
	</a>
</script>

<script type="x-handlebars-template" id="cart-full-template">

</script>

<script type="x-handlebars-template" id="confirm-order-template">

</script>