<h1> Dodaj Produkt </h1>

<center>
<%= form_for [:admin, @product]  do |f| %>
  <%= f.label "Autor" %>
  <%= f.text_field :author %>
  <%= f.label "Tytul" %>  
  <%= f.text_field :title %>
  <%= f.label "Cena" %>  
  <%= f.text_field :price %> <br>   
  <%= f.submit "Dodaj" %>
<% end %>
</center>