<h1><%= @product.author %></h1>
<h2>Title: <%= @product.title %></h2>
<center>
Price: <%= @product.price %>$ <br>
<%= link_to "Dodaj produkt do koszyka!", "/addOrderItem/"+@product.id.to_s %> <br>
<%= link_to "Back to "+@product.category.name, @product.category %> 
</center>