<h1><%= @product.author %></h1>
<h2>Tytuł: <%= @product.title %></h2>

<center>
	Cena: <%= @product.price %>$ <br>
	Opis: <%= @product.description %><br>
	<%= link_to "Dodaj produkt do koszyka!", "/addOrderItem/"+@product.id.to_s %> <br>
	<% if @product.category_id != 0 %>
		<%= link_to "Powrót do "+@product.category.name, @product.category %> 
	<% end %>
</center>
