<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	

		<%= link_to "Home", root_path, id: "logo" %>

			<nav>				
				<ul class="nav pull-right">

					<% if admin_admin_signed_in? %>
						<%= link_to "Panel Administratora",  admin_root_path%>
						<%= link_to "Wyloguj", destroy_admin_admin_session_path, :method => :delete %>
					<% else %>
						<%= link_to "Koszyk", "/cart" %>
						<%= link_to "Zaloguj", new_admin_admin_session_path %>
					<% end %>

				</ul>
			</nav>

		</div>
	</div>
</header>