<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	

			<%= link_to "| Strona główna", root_path, id: "logo" %>
			<%= link_to "| Kategorie", categories_path, id: "logo" %>		

			<nav>				
				<ul class="nav pull-right">

					<% if admin_admin_signed_in? %>
						<li><%= link_to "Panel Administratora",  admin_root_path%></li>
						<li><%= link_to "Wyloguj", destroy_admin_admin_session_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to "Zaloguj", new_admin_admin_session_path %></li>
					<% end %>

				</ul>
			</nav>

		</div>
	</div>
</header>