
<div class="search-small-menu">

	<h3>Szukaj:</h3>

	<%= search_form_for search_object, url: search_products_path, method: :post do |f| %>
		<%= f.label :title_cont, "Tytuł:" %>
		<%= f.text_field :title_cont, style: "width:130px" %>
	
		<%= f.label :author_cont, "Opis:" %>
		<%= f.text_field :description_cont, style: "width:130px" %>

		<%= f.label :author_cont, "Autor:" %>
		<%= f.text_field :author_cont, style: "width:130px" %>
	
		<%= f.label :price_gteq, "Cena od:" %>
		<%= f.text_field :price_gteq, style: "width:130px" %>
	
		<%= f.label :price_lteq, "do:" %>
		<%= f.text_field :price_lteq, style: "width:130px" %>
		<br>	
		<%= f.submit "Szukaj", class: "btn btn-mini btn-primary" %>
	<% end %>	

</div>